doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Analytics for Umbraco Story

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='bower_components/font-awesome/css/font-awesome.min.css')

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-hash='title')
        h2 The Analytics for <br/>Umbraco Story
        img(src='analytics-logo-svg')

      section(data-bespoke-hash='hello').light(data-bespoke-state='keyslide')
        h2 Hello!
        
      section(data-bespoke-hash='who-do-we-build')
        h2 Who Do We Build Sites For?

      section(data-bespoke-hash='endsleigh')
        h2 Endsleigh.co.uk

      section(data-bespoke-hash='veet')
        h2 Veet
        h4 Built globally for 40 markets worldwide

      section(data-bespoke-hash='rb-brands')
        h2 And Many More 
        h3 Reckitt Beckinsser Brands

      section(data-bespoke-hash='begin-story').light(data-bespoke-state='keyslide')
        h2 Let's begin our story

      section(data-bespoke-hash='what-is-analytics-for-umbraco')
          h2.bullet What is Analytics for Umbraco?
          ul
            li Easily view & monitor your Google Analytics reports
            li An Open Source project to help learn Angular for Umbraco

        section(data-bespoke-hash='analytics-demo')
          h2 Animate gif or HTML5 video of it in action

        section(data-bespoke-hash='why-did-i-build-this')
          h2.bullet Why did I build this?
          ul
            li The outstanding version by Morten Christensen no longer works due to API changes by Google
            li To learn how to extend Umbraco 7 with Angular & the newer Umbraco APIs available in the core
            li To fulfil my own needs an act as a client to myself

        section(data-bespoke-hash='become-a-craftsman').full-screen.bg-photo.bg-photo--craftsman-workshop.light(data-bespoke-state='white')
          h2 Become a craftsman

        section(data-bespoke-hash='enough-theory').light(data-bespoke-state='keyslide')
          h2 Enough theory
          h3 Demo time!

        section(data-bespoke-hash='adding-custom-section')
          h2 Adding a Custom Section
          hr
          pre
            code.language-javascript.
              //Get SectionService
              var sectionService = applicationContext.Services.SectionService;

              //Try & find a section with the alias of "analytics"
              var section = sectionService.GetByAlias("analytics");

              if (section == null) {
                //It doesn't exist, so let's create the section
                //Friendly Name, Application Alias, Icon
                sectionService.MakeNew("Analytics", "analytics", "icon-pulse");
              }

        section(data-bespoke-hash='creating-custom-tree-part1')
          h2 Creating a Custom Tree
          h3 Preparing the C# class with attributes & inheritance
          hr
          pre
            code.language-csharp.
              //Alias of section to load tree in (Settings or Developer etc)
              //Alias of this tree
              //Friendly Name of this Tree Root
              [Tree("analytics", "analyticsTree", "Analytics")]
              [PluginController("Analytics")]
              public class AnalyticsTreeController : TreeController {
                ...
              }

        section(data-bespoke-hash='creating-custom-tree-part2')
          h2 Creating a Custom Tree
          h3 Rendering out nodes in your tree with C#
          hr
          pre
            code.language-csharp.
              //Create node
              var n = CreateTreeNode(id, parentId, queryStrings, "Node Title");
              n.HasChildren = false;
              n.Icon        = "icon-globe";

              //RoutePath only needed to override default route
              n.RoutePath = "/analytics/analyticsTree/view/keywords";

        section(data-bespoke-hash='custom-angular-view')
          h2 Using Angular
          h3 EXAMPLE TODO !!!
          hr
          pre
            code.language-javascript.
              //CODE SNIPPET TODO

        section(data-bespoke-hash='what-have-we-learnt').light(data-bespoke-state='keyslide')
          h2 What have we learnt?

        section(data-bespoke-hash='we-are-fine-craftsmen')
          h2.bullet We are <i class="fa fa-wrench"></i> Fine Craftsmen
          ul
            li Give your clients hand crafted solutions
            li That makes your client's life easier maintinng & managing their site
            li Your clients will love you forever

        section(data-bespoke-hash='umbraco-loves-angular')
          h2.bullet Umbraco <i class="fa fa-heart-o"></i> Angular 
          ul
            li Gives easy & powerful databinding
            li Allows frontenders to extend Umbraco easily without having too much knowledge of Angular
            li It just simply works!

         section(data-bespoke-hash='download')
          h2.bullet Curious?
          ul
            li Try it & download it today <br/>
             <a href="http://our.umbraco.org/projects/backoffice-extensions/analytics">our.umbraco.org/projects/backoffice-extensions/analytics</a>

        section(data-bespoke-hash='source-code')
          h2.bullet Want to learn more?
          ul
            li I encourage you to look at the source code
             <a href="https://github.com/warrenbuckley/Analytics">github.com/warrenbuckley/analytics/</a>

        section(data-bespoke-hash='special-thanks')
          h2.bullet Special Thanks to
          ul
            li Tim Geyssens
            li Anders Bjerner

        section(data-bespoke-hash='questions').light(data-bespoke-state='keyslide')
          h2 Questions?

        section(data-bespoke-hash='thanks')
          img.avatar.avatar--small(src='images/me.png')
          hr
          h2 Thanks
          h3 Warren Buckley
          <a href="http://twitter.com/warrenbuckley">@warrenbuckley</a>
          <a href="http://github.com/warrenbuckley">github.com/warrenbuckley</a>
          p warren@creativewebspecialist.co.uk

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
