doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Analytics for Umbraco Story

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='bower_components/font-awesome/css/font-awesome.min.css')

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-hash='title')
        h2 The Analytics for <br/>Umbraco Story
        img(src='analytics-logo-svg')

      section(data-bespoke-hash='hello').light(data-bespoke-state='keyslide')
        h2 Hello!
        
      section(data-bespoke-hash='who-do-we-build')
        h2 Who Do We Build Sites For?

      section(data-bespoke-hash='endsleigh')
        h2 Endsleigh.co.uk

      section(data-bespoke-hash='veet')
        h2 Veet
        h4 Built globally for x markets

      section(data-bespoke-hash='rb-brands')
        h2 And Many More 
        h3 Reckitt Beckinsser Brands

      section(data-bespoke-hash='begin-story').light(data-bespoke-state='keyslide')
        h2 Let's begin our story

      section(data-bespoke-hash='what-is-analytics-for-umbraco')
          h2.bullet What is Analytics for Umbraco?
          ul
            li Easily view & monitor your Google Analytics reports
            li An Open Source project to help learn Angular for Umbraco

        section
          h2 Animate gif or HTML5 video of it in action

        section
          h2 Why
          h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
          ul
            li Bullet 1
            li Bullet 2
            li Bullet 3

        section(data-bespoke-hash='happy-developers').bg-photo.bg-photo--large-carlton.light(data-bespoke-state='white')
          h2 Happy Developers

        section(data-bespoke-hash='enough-theory').light(data-bespoke-state='keyslide')
          h2 Enough theory
          h3 Demo time!

        section(data-bespoke-hash='adding-custom-section')
          h2 Adding a Custom Section
          hr
          pre
            code.language-javascript.
              //Get SectionService
              var sectionService = applicationContext.Services.SectionService;

              //Try & find a section with the alias of "analytics"
              var section = sectionService.GetByAlias("analytics");

              if (section == null) {
                //It doesn't exist, so let's create the section
                //Friendly Name, Application Alias, Icon
                sectionService.MakeNew("Analytics", "analytics", "icon-pulse");
              }

        section(data-bespoke-hash='creating-custom-tree-part1')
          h2 Creating a Custom Tree
          h3 Preparing the C# class with attributes & inheritance
          hr
          pre
            code.language-csharp.
              //Alias of section to load tree in (Settings or Developer etc)
              //Alias of this tree
              //Friendly Name of this Tree Root
              [Tree("analytics", "analyticsTree", "Analytics")]
              [PluginController("Analytics")]
              public class AnalyticsTreeController : TreeController {
                ...
              }

        section(data-bespoke-hash='creating-custom-tree-part2')
          h2 Creating a Custom Tree
          h3 Rendering out nodes in your tree with C#
          hr
          pre
            code.language-csharp.
              //Create node
              var n = CreateTreeNode(id, parentId, queryStrings, "Node Title");
              n.HasChildren = false;
              n.Icon        = "icon-globe";

              //RoutePath only needed to override default route
              n.RoutePath = "/analytics/analyticsTree/view/keywords";

        section(data-bespoke-hash='umbraco-loves-angular').light(data-bespoke-state='keyslide')
          h2.bullet We are <i class="fa fa-wrench"></i> Fine Craftsmen
          ul
            li Give your clients hand crafted solutions
            li Don't just give them generic off the shelf solutions  

        section(data-bespoke-hash='named-route')
          h2 Named Route
          h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
          p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

        section(data-bespoke-state='emphatic')
          h2.bullet Want to learn more?
          ul
            li I encourage you to look at the source code
             <a href="">github.com/warrenbuckley/analytics/</a>

        section(data-bespoke-hash='special-thanks')
          h2.bullet Special Thanks to
          ul
            li Tim Geyssens
            li Anders Bjerner

        section(data-bespoke-hash='questions').light(data-bespoke-state='keyslide')
          h2 Questions?

        section(data-bespoke-hash='thanks')
          img.avatar.avatar--small(src='images/me.png')
          hr
          h2 Thanks
          h3 Warren Buckley
          <a href="http://twitter.com/warrenbuckley">@warrenbuckley</a>
          <a href="http://github.com/warrenbuckley">github.com/warrenbuckley</a>
          p warren@creativewebspecialist.co.uk

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild