doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Using AngularJS with Umbraco

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='bower_components/font-awesome/css/font-awesome.min.css')

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-hash='title')
        h2 Using Angular JS & Umbraco

      section(data-bespoke-hash='hello')
        h2 Hello!        

      section(data-bespoke-hash='what-is-umbraco').light(data-bespoke-state='keyslide')
        h2 What is Umbraco?

      section(data-bespoke-hash='open-source-cms').full-screen.bg-photo.bg-photo--umbraco.light(data-bespoke-state='white')
        h2 An Open Source .NET CMS

      section(data-bespoke-hash='backoffice-ui')
        h2 New Back Office UI in V7

      section(data-bespoke-hash='backoffice-angular')
        h2 Backoffice written <br/> in Angular JS

      section(data-bespoke-hash='why-angular').light(data-bespoke-state='keyslide')
        h2 Why does Umbraco use Angular JS?

      section(data-bespoke-hash='why-angular-detail').light(data-bespoke-state='keyslide')
        h2.bullet Umbraco <i class="fa fa-heart-o"></i> Angular
        ul
          li Gives easy & powerful databinding
          li Allows frontenders to extend Umbraco easily without having too much knowledge of Angular
          li It just simply works! 

      section(data-bespoke-hash='whos-using-umbraco').light(data-bespoke-state='keyslide')
          h2 Who's using Umbraco?

       section(data-bespoke-hash='wired').full-screen.bg-photo.bg-photo--wired.light(data-bespoke-state='white')
        h2 Wired.co.uk

      section(data-bespoke-hash='asp').full-screen.bg-photo.bg-photo--asp.light(data-bespoke-state='white')
        h2 ASP.net

      section(data-bespoke-hash='redbull-stratos').full-screen.bg-photo.bg-photo--redbull.light(data-bespoke-state='white')
        h2 RedBullStratos.com

      section(data-bespoke-hash='reasons-why')
        h2.bullet Umbraco + Angular

      section(data-bespoke-hash='what-is-a-datatype').light(data-bespoke-state='keyslide')
        h2 What is a Data Type?

      section(data-bespoke-hash='datatype')
        h2 DataType
        h3 A datatype in Umbraco is a control that <br/> allows users to input content
        h5 For example a WYSIWYG Editor or Image Cropper

      section(data-bespoke-hash='extening-umbraco').light(data-bespoke-state='keyslide')
        h2 Extending Umbraco

      section(data-bespoke-hash='demo')
        h2 Demo

      section(data-bespoke-hash='what-did-we-build').light(data-bespoke-state='keyslide')
        h2.bullet What did we just build?
        ul
          li A Google Map Property Editor
          li Allowing content editors to easily pick a location
          li Giving a nicer experience than a textbox with lat & lon

      section(data-bespoke-hash='happy-editors').bg-photo.bg-photo--party-kid.light(data-bespoke-state='white')
        h2 Happy Content Editors

      section(data-bespoke-hash='JS-HTML-only')
        h2 All with HTML, CSS & JavaScript
        h3 without C# & Visual Studio

      section(data-bespoke-hash='happy-developers').bg-photo.bg-photo--large-carlton.light(data-bespoke-state='white')
        h2 Happy Developers 

      section(data-bespoke-hash='package-manifest')
        h2 Package Manifest
        h3 Defining our property editor
        pre
          code.language-javascript.
            "propertyEditors": [
              {
                "alias": "GoogleMaps",
                "name": "Google Map Location Picker",
                "editor": {
                  "view": "~/app_plugins/googlemaps/editor.html",
                  "valueType": "JSON"
              }
            ]
      section(data-bespoke-hash='package-manifest-prevalues')
        h2 Package Manifest
        h3 Adding in configuration options
        pre
          code.language-javascript.
            "prevalues": {
              "fields": [{
                "label": "Initial Latitude",
                "description": "This is used when no value set",
                "key": "initialLat",
                "view": "string"
              }]
            }

      section(data-bespoke-hash='package-manifest-dependencies')
        h2 Package Manifest
        h3 Adding Dependencies
        pre
          code.language-javascript.
            "javascript": [
              "~/app_plugins/googlemaps/js/editor.js"
            ],
            "css":[
              "~/app_plugins/googlemaps/css/editor.css"
            ]

      section(data-bespoke-hash='yo-umbraco').light(data-bespoke-state='keyslide')
        h2 yo umbraco

      section(data-bespoke-hash='yeoman')
        h2 We can use Yeoman
        h3 To help us to scaffold rapidly

      section(data-bespoke-hash='install')
        h2 Install
        pre
          code.language-javascript.
            npm install -g yo
            npm install -g generator-umbraco

      section(data-bespoke-hash='scaffold')
        h2 Scaffold
        pre
          code.language-javascript.
            cd c:/dev/umbraco/
            yo umbraco
            grunt watch --target=c:/path/to/umbraco/site

      section(data-bespoke-hash='yo-demo')
        h2 Demo

      section(data-bespoke-hash='happy-dance').full-screen.bg-photo.bg-photo--bmo-dance.light(data-bespoke-state='white')
        h2 Happy Dance 

      section(data-bespoke-hash='thanks')
        img.avatar.avatar--small(src='images/me.png')
        hr
        h2 Thanks
        h3 Warren Buckley
        <a href="http://twitter.com/warrenbuckley">@warrenbuckley</a>
        <a href="http://github.com/warrenbuckley">github.com/warrenbuckley</a>
        p warren@creativewebspecialist.co.uk


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild