body {
	background: #303030;
	font-family: open sans, helvetica, arial, sans-serif;
  	font-weight: 300;
  	font-size: 18px;
  	color: #f0f0f0;
}

h1 {
	font-size: 72px;
  	font-weight: 600;
  	line-height: 82px;
  	letter-spacing: -2px;
  	margin-bottom: 16px;
}
  

h2 {
  font-weight: 300
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px
  color: #f0f0f0;
}

h3 {
	font-size: 24px
	font-weight: 300
	margin-bottom: 24px
	color: #e0e0e0;
}

ul
	list-style: none

li {
	margin-bottom: 12px;
 }

p {
	margin: 0 100px 12px
	line-height: 22px
}


a {
	color:#f6861f;
}